<h1>Patients under Dr.<%= @doctor.name %>'s care'</h1>

<ul>
  <% @patients.each() do |patient| %>
    <% if patient.dr_id == @doctor.id %>
      <li><%= patient.name %> (<%= patient.birth%>)</li>
    <% end %>
  <% end %>
</ul>

<h2>Add a new patient</h2>

<form action="/<%= @doctor.id %>" method="post">
  <label for="word">New Patient Name</label>
    <input type="text" name="name">
  <label for="word">New Patient Date of Birth</label>
    <input type="text" name="birth">
  <button type="submit">Add a Patient!</button>
</form>
<br>

<form action="/<%= @doctor.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <select name="patient_id">
    <% @patients.each() do |patient| %>
      <% if patient.dr_id == @doctor.id %>
        <option value= '<%patient.name%>'><%= patient.name %></option>
      <% end %>
    <% end %>
  </select>
  <button type="submit" name="button">remove a patient</button>
</form>
<br>

<form action="/<%= @doctor.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Doctor Name</label>
    <input type="text" name="update_name">
  </div>
  <button type="submit">Update doctor name!</button>
</form>
<br>
<a href="/">Home</a>
